@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Lily Script One","Poppins", serif; */
    /* max-width: 100%; */
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
}

.header {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    color: pink;
    background-color: deeppink;
    font-family: "Lily Script One","Poppins", serif;
}

.main-container {
    width: 100%;
    display: flex;
    background-color: seashell;
    margin-bottom: 0;
    justify-content: space-evenly;
    align-items: center;
}


.image_1 {
    margin-bottom: 0;
    width: 100%;

}

.img_measure {
    height: auto;
    width: 100%;
    height: auto;
    padding-left: 30%;

}

.texts {
    width: 100%;
    padding-left: 50px;
    align-items: center;
    align-self: center;
    justify-items: center;
    

}

.texts h2 {
    margin-bottom: 30px;
    font-size: 3rem;
}

.texts {
    font-size: 1.5rem;
}

.form {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: deeppink;
    box-shadow: 5px 5px 15px rgba(255, 20, 147, 0.5);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form input {
    width: 300px;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: -8px -8px 15px rgba(255, 20, 147, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.2);
  }


.form form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

#bandsize {
    margin-bottom: 20px;
}

.btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.btn:hover {
    color: pink;
}

.copyright {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: hotpink;
    font-family: "Lily Script One","Poppins", serif;
    background-color: lavenderblush;
}

/* .copyright img {
    padding-top: 20px;
} */

#result {
    text-align: center;
    padding: 20px 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cup-descriptions {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: seashell;
}

.descriptions {
    text-align: center;
    font-size: 17px;
}

.myths {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: seashell;
    padding-bottom: 20px;
}

.myths h2 {
    text-align: center;
}

.myth-1, .myth-2, .myth-3, .myth-4, .myth-5 {
    padding-top: 20px;
}

.myths h3{
    padding-bottom: 10px;
}


@media (width <= 960px) {
    .main-container {
        width: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .image_1{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    .img_measure {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .texts {
        padding-left: 10px;
        text-align: center;
    }

    .texts h2 {
        margin-bottom: 15px;
    }

    .img_band_size {
        width: 100%;
        margin-left: 0;

    }
}